<div class="outer-container">
  <div class="grid-container">
    <div
      class="grid-items"
      (click)="playTurn(item)"
      *ngFor="let item of gameGridBoxes; index as i"
    >
      <!-- [ngClass]="item.value == 'P1' ? 'P1' : item.value == 'P2' ? 'P2' : ''" -->
      <span class="item-label" *ngIf="item.value == 'P1'">X</span>

      <span class="item-label" *ngIf="item.value == 'P2'">O</span>
    </div>
  </div>
  <p *ngIf="!winningPlayer && !matchDraw" class="turn-label turn-label-2">
    Current turn is for : {{ currentPlayer ? "Player 1" : "Player 2" }}
  </p>
  <p *ngIf="winningPlayer && !matchDraw" class="turn-label turn-label-3">
    Game won by : {{ winningPlayer }}
  </p>
  <p *ngIf="matchDraw" class="turn-label turn-label-1">The match was a draw</p>
  <button (click)="resetGame()" class="btn">Reset</button>
</div>
